@charset "UTF-8";

.user-aside ul li {
	padding: 8px 0px;
}

li {
	list-style: none;
	font-size: 16px;
	font-weight: 600;
	padding: 8px 0px;
	list-style: none;
}

aside ul {
	padding-left: 5px;
	margin: 0px auto;
}
aside>ul:first-child {
	padding-left: 0px;
	padding-top: 0px;
	margin: 0px auto;
}

aside a {
	color: rgb(49, 49, 49);
	text-decoration: none;
}

ul>li {
	padding-top: 10px;
}

aside.user-aside a>li.is-active {
	
}
