@charset "UTF-8";

li {
	list-style: none;
	font-size: 16px;
	padding: 8px 12px;
}

aside ul {
	padding-left: 5px;
	margin: 0px auto;
}
aside>ul:first-child {
	padding-left: 0px;
	padding-top: 25px;
	margin: 0px auto;
}

aside {
	
}