@charset "UTF-8";

main.user>div>div {
	padding-left:0px;
	padding-right:0px;
}


.user-aside, .user-content {
	padding: 64px 0px 0px 0px;
}

.breadcrumb {
	font-size: 12px;
	color: #494949;
}

h3.heading {
	margin-top: .5rem;
	font-size: 18px;
	font-weight: 800;
	line-height: 1;
	color: #313131;
}