.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: rgb(35,35,35);
    color: rgb(150,150,150);
    padding:30px;
    font-size: 12px;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    white-space: nowrap;
} 