/******************************************* header ************************************************/
.head {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: 1px 1px 5px 1px rgb(230,230,230);
}
.header_div {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 1200px;
    height: 60px;
    display: grid;
    font-size: 16px;
    line-height: 63px;
    font-weight: bold;
    color: rgb(100,100,100);
    text-align: center;
    grid-template-columns: 12% 9% 9% 46% 0 16% 8%;
    grid-template-rows: 60px;
}

/******************************************* 검색창 ************************************************/
.search_box {
    position: absolute;
    top: 12.5px;
    margin-left: 0;
    height: 35px;
    width: 170px;
}
.search_box input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    background-color: rgb(240,240,240);
    border-radius: 5px;
    font-size: 18px;
    padding-left: 10px;
    margin-left: 0;
    font-weight: normal;
}
.search_box input:hover {
    border: 1px solid rgb(180,180,180);
}
.search_box input:focus {
    border: 1px solid rgb(0,196,113);
    box-shadow: 0 0 3px 1px rgb(0,196,113);
    outline: rgb(0,196,113);
}

.text_hover a {
    color: rgb(100,100,100);
    text-decoration: none;
}
.text_hover:hover p {
    color: rgb(0,196,113);
}
.text_hover:hover {
    background-color: rgb(250,250,250);
}
.text_hover:hover + .arrow_div {
    background-color: rgb(250,250,250);
    z-index: 0;
}

/******************************************** 아이콘 ***************************************************/
.arrow,
.arrow2 {
    position: absolute;
    top: 22.5px;
    width: 15px;
    height: 15px;
    z-index: 3;
    background-image: url("../images/arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.arrow {
    margin-left: 55px;
}
.arrow2 {
    margin-left: 70px;
}
.profile {
    color: rgb(150,150,150);
    line-height: 60px;
    font-size: 20px;
}
.profile a {
    color: rgb(150,150,150);
    text-decoration: none;
}
.profile a:hover {
    color: rgb(0,196,113);
}
.icon {
    font-size: 30px;
    color: rgb(0,196,113);
    line-height: 60px;
    text-decoration: none;
    font-family:serif;
}
.icon a {
    color: rgb(0,196,113);
    text-decoration: none;
}
.icon a:hover {
    color: rgb(0,196,113);
    text-decoration: none;
}
.glass {
    position: absolute;
    top: 21px;
    right: 126px;
    z-index: 1;
    width: 18px;
    height: 18px;
    background-image: url("../images/glass.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/**************************** 드롭 다운 메뉴 왼쪽 두개 ********************************************/
.list_a{
    font-size:15px !important;
}
.commu_list,
.lecture_list {
    text-align: left;
    padding-left: 10px;
}
.commu_list ul,
.lecture_list ul {
    display: none;
}
.commu_list:hover ul,
.lecture_list:hover ul {
    display: block;
    padding: 0;
    margin-left: -10px;
    margin-top:-3px;
    width: 160px;
    height: fit-content;
    background-color: white;
    border: 1px solid rgb(180,180,180);
    z-index: 4;
    list-style-type: none;
    text-align: left;
    box-shadow: 1px 1px 3px 1px rgb(150,150,150);
}

.commu_list li,
.lecture_list li {
    height: 35px;
    width: auto;
    line-height: 35px;
    margin-left: 15px;
}
.commu_list a,
.lecture_list a {
    font-size: 13px;
    color: gray;
    padding: 10px 0;
    font-weight: normal;
    text-decoration: none;
}
.commu_list a:hover,
.lecture_list a:hover {
    color: rgb(0,196,113);
    text-decoration: none;
}

/**************************** 우측 프로필 드롭다운 메뉴 ********************************************/
.profile_list_div {
    display: none;
}
.profile_list:hover .profile_list_div {
    display: block;
    width: 160px;
    height: fit-content;
    background-color: white;
    margin-left: -70px;
    box-shadow: 1px 1px 3px 1px rgb(150,150,150);
    z-index: 4;
}
.profile_list_div_ul{
    height: 100%;
    width: 100%;
    text-align: left;
    padding:0;
    margin:0;
    line-height: 40px;
}
.profile_list_div_ul a{
    font-size: 13px;
    font-weight: normal;
}
.profile_list_div li{
    list-style: none;
    height: 40px;
    padding: 0 15px;
    margin:0;
}

.profile_list button{
    width: 85px;
    height: 35px;
    line-height: 35px;
    border-radius: 10px;
    border: none;
    padding: 0 10px;
    color: white;
    background-color: rgb(0,196,113);
    font-size: 17px;
    outline: none;
}
.profile_list button:hover{
    background-color: green;
}