<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.infStudy.categoryMapper">
   
   <insert id="addCategory" parameterType="kr.co.infStudy.dto.lecture.UploadLectureDTO">
  		INSERT INTO CATEGORY(ctg_no, name) VALUES(category_seq.nextval, #{ctg_name, jdbcType=VARCHAR})
   </insert>
   
   <select id="getCategoryList" resultType="kr.co.infStudy.model.CategoryVO">
   		select * from category order by ctg_no
   </select>
   
   <update id="update" parameterType="kr.co.infStudy.model.CategoryVO">
   
   </update>
   
   <delete id="delete" parameterType="kr.co.infStudy.model.CategoryVO">
   
   </delete>
</mapper>