<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.infStudy.homeMapper">

	<select id="getHomeList" parameterType="java.util.HashMap" resultType = "kr.co.infStudy.dto.home.HomeDTO">
   		
   		<![CDATA[
   		select
			l_t.title as main_title,
			u_t.nickname as main_writer,
			l_t.content as main_content,
			l_t.img as main_imageLink,
			l_t.rel_dt as main_dt,
			c_t.name as main_category  
   		from users u_t, lecture l_t, category c_t 
     	where l_t.i_no = u_t.i_no and l_t.ctg_no = c_t.ctg_no 
  		order by l_t.rel_dt desc
   		 ]]>

	   		  		

   </select>

</mapper>