<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.infStudy.usersMapper">
   
   <insert id="registerUser" parameterType="kr.co.infStudy.model.UsersVO">
   		INSERT INTO USERS VALUES (users_seq.nextval,#{email,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR},null, null)
   </insert>

   <insert id="enrollInstructor" parameterType="java.lang.Integer">
   		UPDATE USERS SET I_NO = INSTRUCTOR_SEQ.NEXTVAL WHERE U_NO = #{u_no} 
   </insert>
   
   <select id="getUsersList" resultType="kr.co.infStudy.model.UsersVO">
   		SELECT * FROM USERS
   </select>

   <select id="getUser" parameterType="java.util.HashMap" resultType="kr.co.infStudy.model.UsersVO">
   		SELECT * FROM USERS WHERE U_NO = #{u_no}
   </select>
   
   <select id="loginUser" resultType="kr.co.infStudy.model.UsersVO">
   		SELECT U_NO, EMAIL, PASSWORD, NICKNAME, IMG, I_NO FROM USERS
   			WHERE EMAIL=#{email} AND PASSWORD=#{password}
   </select>
   
   <update id="updateNickname" parameterType="kr.co.infStudy.model.UsersVO">
         UPDATE USERS SET NICKNAME=#{nickname} WHERE EMAIL=#{email}
   </update>
   
   <update id="updatePassword" parameterType="kr.co.infStudy.model.UsersVO">
         UPDATE USERS SET PASSWORD=#{password} WHERE EMAIL=#{email}
   </update>   
   <select id="getEmailUser" resultType="kr.co.infStudy.model.UsersVO">
         SELECT * FROM USERS WHERE EMAIL=#{email}
   </select>
   
   <select id="getNickNameUser" resultType="kr.co.infStudy.model.UsersVO">
         SELECT * FROM USERS WHERE NICKNAME=#{nickname}
   </select>

   <delete id="byeUser" parameterType="kr.co.infStudy.model.UsersVO">
         DELETE USERS WHERE EMAIL=#{email} and PASSWORD=#{password}
   </delete>

   <!-- my-courses -->
   <select id="getMyCourse" parameterType="kr.co.infStudy.model.PaidLecVO" resultType="kr.co.infStudy.dto.user.MyCoursesDTO">
		SELECT l.title title, l.img img, c.url url, 
		    ROUND((SELECT count(*) FROM FINISH
		            WHERE 1 = 1
		                AND  U_NO = #{u_no}
		                AND L_NO = #{l_no}) * 100 /
	        (SELECT count(*) FROM CURRICULUM WHERE L_NO = #{l_no}),2)
		     progress, f.finish_time finishTime
		    FROM LECTURE l, FINISH f, CURRICULUM c
		    WHERE l.l_no = c.l_no
			        AND c.c_no = f.c_no 
			         AND F.U_NO = #{u_no}
			         AND F.L_NO = #{l_no}
        group by l.title, l.img, c.url, f.finish_time
   </select>
   
</mapper>