@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
}

a:hover{
	color : blueviolet;
	font-weight: bold;
}

#root{
	position: absolute;
	width: 1400px;
	height: 100vw;
}

#main{
	position: absolute;
    min-height: 800px;
}

.course_header_container{
	position: relative;
    padding: 1.5rem;
    background-color: #2c2e37;
    height: 220px;
	width: 100vw;
}

.course_header_container .container{
    width: 100vw;
    height: 200px;
}

.course_header_container .container .columns{
	position: absolute;
    color: #fefefe;
    overflow: hidden;
    height: 220px;
    width: 100%;
}

.course_header_container .container .columns .img_container{
    position: relative;
    top: 20px;
    left: 150px;
    float: left;
    
    margin-right: 30px; 
    width: 240px;
    height: 180px;
    overflow: hidden;
 
}

.course_header_container .container .columns .img_container img{
    position: absolute;
 	top: 0; left: 0;
 	width: 100%; height: 100%; 
    
}
.course_header_container .container .columns .column.course_title{
	position: relative;
    height: 200px;
    left: 150px;
    top: 15px;
    text-align: left;
    width: 600px;

    
}

.course_header_container .container .columns .column.course_title h1{
    font-size: 30px;
    left: 0;
    
}

#main section.course_description_container{
	position: relative;
	width: 1800px;
	height: 1000px;
}


#main > section.course_description_container > div.tabs{
	position: relative;
	width: 1800px;
	height: 100px;
	margin: 0 auto;
}


#main section.course_description_container .tabs .container{
	position: relative;
	height: 60px;
	width: 1600px;

}

#main section.course_description_container .tabs ul.container{
	position: absolute;
	font-size: 20px;
	color: #6e6e6e;
	overflow: hidden;
	width: 1000px;
	margin-left: 200px;
	margin-top: 25px;
	border-bottom: 1px solid #6e6e6e;
}

#main section.course_description_container .tabs ul.container li{
	float: left;
	margin-right: 10px;
	margin-left: 50px;
	height: 100%;

}

#main section.course_description_container .tabs ul.container li a{
	display: block;
	height: 100%;
}

#main .course_description_container div.container{
	position: relative;
	margin-left: 200px;
	height: 800px;
}

#main .course_description_container div.container .course_description{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 1000px;
	
}

#main .course_description_container div.container .course_description article.curriculum h3{
	margin-bottom: 20px;
}

#main .course_description_container div.container .course_description article.curriculum .curriculm_header{
	overflow: hidden;
	margin-bottom: 50px;
}

#main .course_description_container div.container .course_description article.curriculum .curriculm_header span{
	float: right;
	margin-left: 20px;
	font-size: 20px;
	color: #888888;
}


article.curriculum .curriculum_accordion .section_cover .section_header{
	overflow: hidden;
}

article.curriculum .curriculum_accordion .section_cover .section_header div{
	float: left;
	background-color: blueviolet;
	color: white;
	height: 30px;
	font-size: 20px;
}



article.curriculum .curriculum_accordion .section_cover .section_header .section_header_right{
	width: 70%;
}


article.curriculum .curriculum_accordion .section_cover .section_header .section_header_left{
	width: 30%;
}

article.curriculum .curriculum_accordion .section_cover .section_header .section_header_left span{
	margin-left: 30px;
}


article.curriculum .curriculum_accordion .section_cover .unit_item{
	border-bottom: 1px solid #aaa;
	overflow: hidden;
}

article.curriculum .curriculum_accordion .section_cover .unit_item div{
	float: left;
	margin-left: 20px;
}

article.curriculum .curriculum_accordion .section_cover .unit_item .unit_item_left{
	width: 65%;
} 

article.curriculum .curriculum_accordion .section_cover .unit_item .unit_item_right{
	width: 20%;
	text-align: right;
	margin-right: 60px;
} 












