
.curriculum{    
}
.curriculumTitle{
	width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
}
.curriculumTotal{
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: gray;
    text-align: right;
}
.curriculumUl{
	padding:0;
}
.curriculumUl li{
	padding: 0 10px;
    list-style: none;
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #eee;
}
.curriculumUl span{
	float: right;
    margin-right: 5px;
}
.curriculumUl a{
	text-decoration: none;
	color:gray;
}
.liTitle{
    background-color: #eeeeee;
    font-size:16px;
    font-weight: bold;
    margin-top: 5px;
}
.liTitle span{
    font-size: 30px;
    font-weight: normal;
}
.curriculumDate{
	margin: 60px 0;
}
.curriculumDate h1{
    font-size: 25px;
    font-weight: bold;
}
.curriculumDate p{
    font-size: 18px;
}
.reviewTitle{
	width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
}
.reviewRank{
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 25% 20% 30% 25%;
    grid-template-rows:100%;
}
.reviewRank progress{
    height: 8px;
    width: 70%;
    background-color: #eee;
    color: #eee;
    padding: 0;
    margin: 0;
}
.reviewRank ul{
	padding:0;
}
.reviewRank li{
	list-style: none;
    height: 20px;
}
.reviewRank h1{
    font-size: 25px;
    font-weight: bold;
}
.reviewButton{
	height: 30px
}
.reviewButton button{    
	height: 35px;
    color: white;
    border: none;
    background-color: rgb(0,196,113);
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    padding: 0 10px;
    float: right;
}
.reviewButton button:focus{
	outline:none;
}
.reviewButton button:hover{
	background-color:green;
}
.reviewContent{
	
}
.rBox{
	box-shadow: 1px 1px 3px 1px #cccccc;
    padding: 10px;
    margin: 20px 0;
    border-radius:5px;
	
}
.rBox button{
	height: 35px;
    color: white;
    border: none;
    background-color: rgb(0,196,113);
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    padding: 0 10px;
    float: right;
}
.rBox textarea{
    width: 100%;
    height: 100px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize:none;
}
.rBox button:focus{
	outline:none;
}
.rBox button:hover{
	background-color:green;
}
.rBoxBtn{
	height: 35px;
}
.rBoxRank{
	color:gold;
    font-size: 30px;
    height: 35px;
    border: none;
}
.rBoxRank span{
    float: right;
    font-size: 20px;
    color: gray;
    font-weight: bold;
    margin-right: 5px;
    margin-top: 7px;
}
.rBoxRank select{
    color: gold;
    font-size: 28px;
    height: 35px;
    border: none;
    float: right;
    margin-top: -3px;
}
.rBoxRank select:focus{
	outline:none;
}
.rBoxContentText{
    margin: 10px 0;
}
.rBoxContentText:focus{
	outline:none;
}
.rBoxDetail{
	height: 40px;
    line-height: 40px;
}
.rBoxDetail{
	font-size: 13px;
    color: gray;
}
.blank{
	height: 250px;
}

.rBox.close{
    visibility: hidden;
}








