.container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 0;
    overflow: hidden;
}
.nav{
    position: fixed;
    float: left;
    width: 330px;
    height: 100%;
    background-color: #171f27;
    z-index:2;
}
.nav-head{
    width: 100%;
    height: 190px;
    border-bottom:1px solid white;
    padding:20px;
    color: white;
}
.nav-head-name{
    font-size: 30px;
    font-weight: bold;
    height: 80px;
    padding-top: 10px;
}
.nav-head p{
    font-size: 12px;
    padding-top: 50px;
}
.nav-head progress{
    height: 10px;
    margin-top: 5px;
}
.nav-ul{
    height: calc(100% - 190px);
    width: 330px;
}
.nav-ul ul{
    position: fixed;
    height: calc(100% - 190px);
    width: 330px;
    list-style: none;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.nav-ul a{
    text-decoration: none;
    color: white;
}
.nav-ul li{
    text-decoration: none;
    color: white;
    height: 45px;
    width: 100%;
    line-height: 45px;
    font-size: 16px;
    padding-left: 20px;
    border-bottom:1px solid rgb(25,25,25);
}
.li-head{
    background-color: #303e4d;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
}
.li-content:hover, .li-selected:hover{
    color:rgb(180,180,180);
}
.li-selected{
    border-left: 8px solid rgb(0,196,113);
    padding-left: 18px!important;
    font-weight: bold;
}
.li-content, .li-selected{
    text-overflow: ellipsis;
    overflow: hidden;
}
.content{
    position: absolute;
    float: right;
    padding-left: 330px;
    width: 100%;
    height: 100%;
}
.content-head{   
    position: relative;
    width: 100%; 
}
.content-head-title{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: white;
    font-weight: bold;
    font-size: 26px;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 65px;
}
.content-head-exit{
    position: absolute;
    right: 0;
    margin: 15px;
    line-height: 35px;
    height: 35px;
    width: 40px;
    color: white;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
}
.vedio{    
    padding: 65px 0 100px 0;
    height: 100%;
}
.content-head a{
    text-decoration: none;
    color:white;
}
iframe{
    width: 100%;
    height: 100%;
}